.section-services {
  margin-top: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section-services__title {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6px;
  position: relative;
}

.section-services__title::before {
  content: '';
  width: 4px;
  height: 40px;
  background-image: url("../assets/img/icon-highlight.svg");
  position: absolute;
  left: -16px;
}

.slide-menu {
  display: flex;
  white-space: nowrap;
  align-items: center;
  height: 40px;
  overflow: scroll;
  margin-right: -16px;
}

.slide-menu::after {
  content: '';
  width: 24px;
  height: 40px;
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.00) 100%);
  position: absolute;
  right: -16px;
  top: 65px;
}

.slide-menu::-webkit-scrollbar {
  display: none;
}

.radio {
  cursor: pointer;
}

.slide-menu {
  .radio:hover .radio__input:not(:checked) + .radio__text {
    opacity: 50%;
  }

  .radio__text {
    color: $menu-text-color;
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 24px;
    border-radius: 6px;
    border: 2px solid transparent;
    padding: 7px 22px;
    transition: 0.5s;
  }

  .radio__input {
    position: absolute;
    appearance: none;
  }

  .radio__input:checked + .radio__text {
    background-color: $white;
    border: 2px solid $input-checked;
    cursor: default;
  }
}

.section-services__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}

.section-services__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.section-services__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
  max-height: 90px;
  overflow: hidden;
  transition: max-height .3s ease 0s;
}

.section-services__read-more {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 8px;
}

.section-services__picture {
  min-width: 320px;
  min-height: 176px;
  margin: 0 -16px;
}

@media (min-width: 470px) {
  .section-services__info {
    flex-direction: initial;
    justify-content: space-between;
  }
  .section-services__text {
    max-height: 157px;
    max-width: 312px;
    line-height: 20px;
  }
}

@media (min-width: 768px) {
  .section-services {
    gap: 32px;
  }
  .section-services__picture {
    min-width: 360px;
    min-height: 208px;
    flex-basis: 50%;
    margin: 0;
    border-radius: 6px;
  }
  .section-services__title::before {
    left: -24px;
  }
  .section-services__wrapper {
    gap: 10px;
  }
  .slide-menu::after {
    top: 70px;
    right: -18px;
  }
}

@media (min-width: 850px) {
  .section-services__text {
    max-width: 490px;
  }
}

@media (min-width: 1440px) {
  .section-services {
    margin-top: 42px;
    gap: 16px;
  }
  .section-services__title::before {
    left: -32px;
  }
  .section-services__header {
    display: flex;
    justify-content: space-between;
  }
  .section-services__buttons {
    display: flex !important;
    gap: 32px;
  }
  .section-services__button {
    display: flex;
    align-items: center;
    gap: 8px;

    span {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      font-weight: 500;
    }
  }
  .slide-menu {
    overflow: initial;
    height: initial;
    flex-wrap: wrap;
    row-gap: 15px;
    width: 1072px;

    .radio__text {
      padding: 7px 18px;
    }
  }

  .section-services__text{
    max-height: 159px;
  }
}

@media (min-width: 1600px) {
  .section-services__text {
    max-width: 750px;
  }
  .section-services__picture {
    flex-basis: 45%;
  }
}