$white: #FFF;
$black: #000;

$background: #F8F8F8;
$main-text-color: #1B1C21;
$menu-text-color: #7E7E82 ;
$border-color: #D9FFF5;
$divider-color: #EAEAEA;
$input-checked: #B8FFEC;
$swiper-bullet: #DDDDDD;
$swiper-bullet-active: #B5B6BC;
$slide-button: #FF3E79;