@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "settings";
@import "styles/header";
@import "styles/services";
@import "styles/slider";
@import "styles/footer";
@import "styles/menu";
@import "styles/feedback";

.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}