@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "settings";

.container {
  padding: 0 16px;
}

.header {
  background: #fff;
  border-bottom: 1px solid #D9FFF5;
  height: 88px;
  margin: 0 -16px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__divider {
  width: 2px;
  height: 32px;
  border-radius: 1px;
  background: #EAEAEA;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section-services {
  margin-top: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section-services__title {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6px;
  position: relative;
}

.section-services__title::before {
  content: '';
  width: 4px;
  height: 40px;
  background-image: url("../assets/img/icon-highlight.svg");
  position: absolute;
  left: -16px;
}

.slide-menu {
  display: flex;
  white-space: nowrap;
  align-items: center;
  height: 40px;
  overflow: scroll;
  margin-right: -16px;
}

.slide-menu::after {
  content: '';
  width: 24px;
  height: 40px;
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.00) 100%);
  position: absolute;
  right: -16px;
  top: 65px;
}

.slide-menu::-webkit-scrollbar {
  display: none;
}

.radio {
  cursor: pointer;
}

.radio:hover .radio__input:not(:checked) + .radio__text {
  opacity: 50%;
}

.radio__text {
  color: #7E7E82;
  font-size: 16px;
  letter-spacing: -0.2px;
  line-height: 24px;
  border-radius: 6px;
  border: 2px solid transparent;
  padding: 7px 22px;
  transition: 0.5s;
}

.radio__input {
  position: absolute;
  appearance: none;
}

.radio__input:checked + .radio__text {
  background-color: #fff;
  border: 2px solid #B8FFEC;
  cursor: default;
}

.section-services__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}

.section-services__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
  height: 90px;
  overflow: hidden;
}

.section-services__read-more {
  display: flex;
  align-items: center;
  gap: 8px;
}

.section-services__picture {
  min-width: 320px;
  min-height: 176px;
  margin: 0 -16px;
}

.slider {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.slider__header {
  background: linear-gradient(270deg, #F8F8F8 0%, #FFF 98.61%);
  border-top: 1px solid #D9FFF5;
  margin: 0 -16px;
  padding: 16px 16px;
}

.slider__title {
  color: #7E7E82;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
}

.swiper {
  display: flex !important;
  flex-direction: column;
  gap: 16px;
  width: 100vw;
  margin: 0 -16px;
  padding-left: 16px;
}

.swiper-brands::after {
  content: "";
  width: 24px;
  height: 81px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0) 100%);
}

.swiper-brands-slide {
  width: 240px !important;
  height: 72px !important;
  border-radius: 6px;
  border: 1px solid #EAEAEA;
  background: #FFF;
  display: flex;
  align-items: center;
}

.swiper-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.swiper__image {
  max-width: 108px;
  max-height: 52px;
}

.swiper__arrow {
  width: 40px;
  height: 40px;
}

.swiper-pagination {
  position: static !important;
  margin-left: -16px;
}

.swiper-pagination-bullet {
  background: #DDDDDD !important;
  opacity: 100% !important;
  width: 12px !important;
  height: 12px !important;
  margin: 0 6px !important;
}

.swiper-pagination-bullet-active {
  background: #B5B6BC !important;
}

.swiper-technique-slide {
  width: 240px !important;
  height: 128px;
  border-radius: 6px;
  border: 1px solid #EAEAEA;
  background: #FFF;
  display: flex;
  padding: 16px 0;
}

.swiper-technique-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  align-self: flex-start;
}

.swiper__arrow {
  align-self: flex-end;
}

.swiper-prices-slide {
  width: 228px !important;
  height: 168px;
  border-radius: 6px;
  background: #FFF;
  padding: 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.slide-section {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.slide-section-title {
  color: #7E7E82;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  opacity: 0.7218;
}

.slide-section-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.slide-section-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide-button {
  border-radius: 16px;
  background: #FF3E79;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 119px;
  height: 32px;
}

.slide-button-text {
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  padding-left: 12px;
}

.slider__info{
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  width: 288px;
}

.slider__offer{
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: left;
  width: 192px;
  position: relative;
}

.slider__offer::after{
  content: '';
  background-image: url("../assets/img/icon-more.svg");
  width: 24px;
  height: 28px;
  position: absolute;
  top: 23px;
  left: 102px;
}

.footer{
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-top: 1px solid #D9FFF5;
  padding: 16px 0;
  margin-top: 40px;
}

.footer__text{
  color: #7E7E82;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}